/*
***************************************************************
                    PADDING AND MARGINS RESET
***************************************************************
*/

*, *::after , *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
***************************************************************
                            COLORS
***************************************************************
*/

:root
{
    /*PRIMARY*/
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);

    /*NEUTRAL*/
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

/*
***************************************************************
                        MOBILE FIRST DESIGN
***************************************************************
*/

/*
***************************************************************
                            LAYOUT
***************************************************************
*/

body
{
    background-color: var(--Very-dark-blue);
    font-family: Rubik, sans-serif;
}

.main-container
{
    overflow: scroll;
    width: 90%;
    margin: 4em auto;
    display: grid;
    gap: 1.2em;
    grid-template-areas: 
    "user"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "self-care";
}

/*
***************************************************************
                        USER PANEL LAYOUT
***************************************************************
*/

.user-menu
{
    background-color: var(--Dark-blue);
    border-radius: 10px;
}

.user-information
{
    background-color: var(--Blue);
    border-radius: 10px;
    padding: 1.5em;

    display: flex;
    align-items: center;
}

.user-image
{
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 1em;
}

.user-name-container p
{
    color: var(--Pale-Blue);
    font-size: 0.8rem;
}

.user-name-container h3
{
    font-weight: 300;
    color: white;
    font-size: 1.4rem;
}

.user-menu-options
{
    padding: 1.3em 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Desaturated-blue);
}

.user-menu-options p
{
    cursor: pointer;
}

.user-menu-options p:hover
{
    color: var(--Pale-Blue);
}

/*When you click between daily, Weekly or Monthly, it adds this class to the option selected and removes ir from the previous option*/
.option-selected
{
    color: white;
}



/*
***************************************************************
                        CARDS RESUME LAYOUT
***************************************************************
*/

.report-card
{
    padding-top: 2.5em;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    position: relative;
}

.icon-images
{
    position: absolute;
    top: -10px;
    right: 15px;

    z-index: 2;
}

.report-information
{
    background-color: var(--Dark-blue);
    border-radius: 10px;
    padding: 1.5em;

    position: relative;

    z-index: 3;
}

.report-category
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.3em;
}

.report-category p
{
    color: white;
    font-weight: 400;
}

.report-hours-and-resume
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-hours-and-resume h3
{
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
}

.report-hours-and-resume p
{
    color: var(--Pale-Blue);
    font-size: 0.8rem;
}

#work-card
{
    background-color: var(--Light-orange);
}

#play-card
{
    background-color: var(--Soft-blue);
}

#study-card
{
    background-color: var(--Light-red);
}

#exercise-card
{
    background-color: var(--Lime-green);
}

#social-card
{
    background-color: var(--Violet);
}

#self-care-card
{
    background-color: var(--Soft-orange);
}