/*
***************************************************************
                    PADDING AND MARGINS RESET
***************************************************************
*/

*, *::after , *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
***************************************************************
                            COLORS
***************************************************************
*/

:root
{
    /*PRIMARY*/
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);

    /*NEUTRAL*/
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);

    /*FONT-SIZES*/
    --fs-xl: clamp(1.4rem , 5vw + 0.2rem , 3rem);
    --fs-400: clamp(0.8rem , 3vw + 0.1rem , 1.1rem);
}

/*
***************************************************************
                        MOBILE DESIGN
***************************************************************
*/

/*
***************************************************************
                            LAYOUT
***************************************************************
*/

body
{
    background-color: var(--Very-dark-blue);
    font-family: Rubik, sans-serif;
}

.main-container
{
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    display: grid;
    gap: 1.2em;
    grid-template-areas: 
    "user"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "self-care";
}

/*
***************************************************************
                        USER PANEL LAYOUT
***************************************************************
*/

.user-menu
{
    background-color: var(--Dark-blue);
    border-radius: 10px;
}

.user-information-container
{
    background-color: var(--Blue);
    border-radius: 10px;
    padding: 1.5em 0;
}

.user-information
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.user-image
{
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 1em;
}

.user-name-container p
{
    color: var(--Pale-Blue);
    font-size: var(--fs-400);
}

.user-name-container h3
{
    font-weight: 300;
    color: white;
    font-size: var(--fs-xl);
}

.user-menu-options
{
    padding: 1.3em 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Desaturated-blue);
}

.option-available , .option-selected
{
    cursor: pointer;
    font-size: 1rem;
}

.option-available:hover
{
    color: var(--Pale-Blue);
}

/*When you click between daily, Weekly or Monthly, it adds this class to the option selected and removes ir from the previous option*/
.option-selected
{
    color: white;
}



/*
***************************************************************
                        CARDS RESUME LAYOUT
***************************************************************
*/

.report-card
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    cursor: pointer;
    opacity: 1;

    transition: opacity 0.5s ease;
}

.image-container
{
    overflow: hidden;
    position: relative;
    height: 2.5em;
}

.icon-images
{
    position: absolute;
    top: -7px;
    right: 15px;
}

.report-information
{
    background-color: var(--Dark-blue);
    border-radius: 10px;
    padding: 1.5em;

    transition: background 0.2s;
}

.report-information:hover
{
    background-color: hsl(235, 46%, 45%)
}

.report-category
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.3em;
}

.report-category p
{
    color: white;
    font-weight: 400;
    font-size: var(--fs-400);
}

.more-options-button
{
    padding: 0.2em
}

.report-hours-and-resume
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-hours-and-resume h3
{
    color: white;
    font-weight: 300;
    font-size: var(--fs-xl);
}

.report-hours-and-resume p
{
    color: var(--Pale-Blue);
    font-size: var(--fs-400);
}

#work-card
{
    background-color: var(--Light-orange);
}

#play-card
{
    background-color: var(--Soft-blue);
}

#study-card
{
    background-color: var(--Light-red);
}

#exercise-card
{
    background-color: var(--Lime-green);
}

#social-card
{
    background-color: var(--Violet);
}

#self-care-card
{
    background-color: var(--Soft-orange);
}

/*
***************************************************************
                        GRID AREAS
***************************************************************
*/

.user-menu
{
    grid-area: user;
}

.work-card
{
    grid-area: work;
}

.play-card
{
    grid-area: play;
}

.study-card
{
    grid-area: study;
}

.exercise-card
{
    grid-area: exercise;
}

.social-card
{
    grid-area: social;
}

.self-care-card
{
    grid-area: self-care;
}

/*
***************************************************************
                        IPAD DESIGN
***************************************************************
*/

@media (min-width:800px)
{
    .main-container
    {
        width: 80%;
        max-width: 720px;
        grid-template-areas: 
        "user     user"
        "work     play"
        "study    exercise"
        "social   self-care";
    }

    .user-menu-options
    {
        justify-content: space-around;
    }

    .user-image
    {
        width: 80px;
    }

    .report-category
    {
        margin-bottom: 1em;
    }

    .report-hours-and-resume
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .report-hours-and-resume h3
    {
        margin-bottom: 0.2em;
    }
}

/*
***************************************************************
                        DEKTOP DESIGN
***************************************************************
*/

@media (min-width:1000px)
{
    :root
    {
        --fs-xl: clamp(1.4rem , 5vw + 0.2rem , 2.8rem);
    }

    body
    {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-container
    {
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit , minmax(180px , 1fr));
        max-width: 1000px;
        grid-template-areas: 
        "user   work       play     study"
        "user   exercise   social   self-care";
    }

    .user-menu
    {
        display: flex;
        flex-direction: column;
    }

    .user-image
    {
        margin-right: 0;
        margin-bottom: 1.5em;
        width: 80px;
    }

    .user-information-container
    {
        padding: 1.5em 1.5em 3em 1.5em;
    }

    .user-menu-options
    {
        flex-direction: column;
        align-items: start;
        flex: 1;
    }

    .user-information
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .user-name-container p
    {
        font-size: 0.8rem;
    }

    .report-hours-and-resume p 
    {
        font-size: 0.8rem;
    }
}